* {padding:0;margin:0;}

body {
    font-family: DejaVu Sans, Verdana, sans;
    font-size: 10pt;
    background: #eee;
    color: #444;
    max-width: 64em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

ul {
    list-style: square;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

li {
    margin-bottom: 0.5em;
}

code {
    background: #e0e0e0;
    display: block;
    overflow: auto;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
}

h1 {
    font-size: 18pt;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

h2 {
    font-size: 14pt;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

h3 {
    font-size: 12pt;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.75em;
    margin-right: 0.75em;
}

hr {
    border: 0;
    color: #aaa;
    background-color: #aaa;
    height: 1px;
}

a {
    color: #2e7699;
}

a:visited {
    color: #825c99;
}

