* {padding:0;margin:0;}

body
{
background: #dfdfdf;
color:#000000;
font-family: DejaVu Sans, sans;
font-size: 10pt;
vertical-align:text-bottom;
}

.main
{
margin-left: 0;
margin-right: auto;
max-width: 50em;
}

h1
{
background: #2b2b2b;
color: #dcdccc;
padding: 10px;
}

h2
{
font-size: 12pt;
text-align: right;
margin-bottom: 1em;
}

p
{
margin-bottom: 1em;
}

ul
{
margin-left: 2em;
}

a
{
color: #5a6780;
text-decoration:underline;
}

a:hover
{
text-decoration:none;
}

.nav
{
background: #bfbfbf;
padding:.5em;
}

.nav a
{
margin-right: 1em;
}

.subtitle
{
background: #2b2b2b;
color: #bfbfbf;
font-size: .8em;
padding: 0 10px 2em 10px;
}

.section
{
padding: 1em;
margin: 0em 1em 2em 1em;
}

.toplink
{
text-align: right;
}

.code
{
background: #bfbfbf;
margin-bottom: 1em;
padding: 1em;
font-family: DejaVu Sans Mono, monospace;
font-size: 8pt;
white-space: pre;
overflow: auto;
}

.footer
{
padding: 2em 1em 2em 1em;
}
