* {padding:0;margin:0;}

body {
    font-family: DejaVu Sans, Verdana, sans;
    font-size: 10pt;
    background: #fff;
    color: #444;
}

p {
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

ul, ol{
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 4em;
    margin-right: 2em;
}

li {
    margin-bottom: 0.5em;
}

ul {
    list-style: square;
}

code {
    background: #f0f0f0;
    display: block;
    overflow: auto;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    white-space: pre;
}

h1 {
    font-size: 12px;
    height: 32px;
    padding-right: 8px;
    background: #000;
    color: #fff;
    text-align: right;
    vertical-align: middle;
    line-height: 32px;
}

h2 {
    font-size: 14pt;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

h3 {
    font-size: 12pt;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.75em;
    margin-right: 0.75em;
}

hr {
    border: 0;
    color: #aaa;
    background-color: #aaa;
    height: 1px;
}

a {
    color: #2e7699;
}

a:visited {
    color: #825c99;
}

.navigation {
    list-style: none;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    vertical-align: middle;
    line-height: 32px; 
}

.navigation li {
    display: inline;
}

.navigation a {
    color: #fff;
    padding: 8px;
    text-decoration: none;
}

.navigation a:hover {
    background: #825C99;
}

.content {
    max-width: 50em;
}
